.pokemon {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	padding: 0.75rem;
	display: grid;
	grid-template-columns: 7rem auto;
	column-gap: 1rem;
	background-color: rgba(212, 5, 5, 0.842);

	img {
		height: 7rem;
		border: 0.25rem solid rgb(95, 95, 95);
		background-color: rgb(80, 185, 255);
	}

	.detail {
		background-color: white;
		border: 0.25rem solid rgb(95, 95, 95);
		padding: 0.75rem;

		.name {
			font-weight: 600;
		}
	}
}