html, body {
	height: 100%;
	overflow: hidden;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    padding: 50px;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;

	>div:first-child {
		margin-bottom: 40px;
	}
}
