:root {
	font-size: 16px;
}

html, body {
	height: 100%;
	overflow: hidden;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
	display: grid;
	grid-template-columns: 15rem auto 15rem;
	grid-template-rows: 5rem 1fr 5rem;
	grid-template-areas: "left-side header right-side"
		"left-side content right-side"
		"left-side footer right-side";
	height: 100vh;

	>div {
		border: 1px solid red;
	}

	.pokemonsWrapper {
		grid-area: content;
		padding: 1rem;
	}
}
